:root {
  --primary-color: #082032;
  --text-color: white;
  --secondary-color: #2c394b;
  --utility-color: #ffc947;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  font-size: 2rem;
}

.mt-sm {
  margin-top: 0.5rem;
}

.container {
  padding: 1rem 2rem;
  margin: auto;
  max-width: 800px;
}

.text-center {
  text-align: center;
}

.personal-website-link {
  color: var(--utility-color);
}

.card {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 0;
}
.title-row {
  width: 100%;
  display: flex;
  column-gap: 10px;
}

.title-row h4 {
  width: 88%;
}

.title-row a {
  width: 10%;
  color: var(--utility-color);
}

.genre-btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  margin: 1rem 0.5rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 10px;
}

.selected-btn {
  text-decoration: underline;
  text-decoration-color: var(--utility-color);
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

@media only screen and (max-width: 500px) {
  .heading {
    font-size: 1.5rem;
  }
}
